<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1" >

	<listeners>
		<listener class-name="com.seleniumHybrid.utils.Reporting"/>
	</listeners>

  <test name="Regression1">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.seleniumHybrid.testCase.TC_LoginTestModulleMethod"/>
    </classes>
  </test>
</suite>
